html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica;
  margin: 0;
}
div {
  display: block;
}
h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2;
}
p {
  font-family: Helvetica;
  line-height: 1.2;
}
.container {
  margin: auto;
  max-width: 960px;
}
.headline h1 {
  color: black;
}
header {
  background: url("../../resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}
nav {
  align-items: center;
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
nav div {
  align-items: center;
  display: flex;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
ul {
  list-style-type: none;
  margin-right: 1rem;
}
ul li {
  display: inline;
  padding: 0 1rem;
}
.menu {
  display: block;
  }
.short-menu {
  display: none;
}
.headline-box {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  max-width: 960px;
}
.headline {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}
.headline h1 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
}
.services {
  display: flex;
  justify-content: center;
}
.service {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  margin: 3rem;
  text-align: center;
  width: 5rem;
}
.service img {
  margin-bottom: 1rem;
  width: 5rem;
}
.paper img {
  width: 3.5rem;
}
.information {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  max-width: 960px;
}
.info {
  margin-right: 5%;
  padding-bottom: 5rem;
  width: 35%;
}
.info-title {
  background-color: cadetblue;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  width: 10rem;
}
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 1024px) {
  .container,
  .headline-box,
  .information {
    max-width: 100%;
  }
  header {
    height: 22rem;
    padding-top: 0px;
  }
  .headline {
    margin-right: 2rem;
    margin-top: 5rem;
  }
  .headline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}



@media only screen and (max-width: 655px) {
  .menu {
    display: none;
    }
  .short-menu {
    display: block;
  }
  



}
